$colorz: {
    primary: #cae7df,
    secondary: #292930,
    accent: #28559a,
    error: #e12b38,
    info: #fcc133,
    success: #3eb650,
    warning: #e56b1f,
};



@mixin infobox_mixin($border-radius, $border-color, $padding, $margin-bottom, $color) {
    border: $border-radius solid $border-color;
    padding: $padding;
    margin-bottom: $margin-bottom;
    color: $color;
}